#send_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
    padding: 30px;
    border-radius: 20rem;
    border: 1rem solid rgba(255,255,255,0.2);;
    background-color: #252525;
    margin: auto;
}

@media (max-width: 800px)
{
    #send_form{
        width: auto;
        margin: 0 15px;
    }
}

.send_form_row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
}
.wrapper_radio{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.wrapper_radio p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.wrapper_radio input{
    width: 100px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
}
.wrapper_radio label{
    text-align: center;
    font-size: 20px;
    color: white;
}
.send_form_row button{
    margin-bottom: 30px;
}

.send_form__btn
{
    padding: 11rem 50rem;
    border: 1rem solid #fff;
    border-radius: 100rem;
}

